.home-menu{
	padding: 0.5em;
	text-align: center;
}

.home-menu.pure-menu-open {
    background: #2d3e50;
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-top: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}